pipeline/PL02_UploadCustomerLoanFiles.json
{
	"name": "PL02_UploadCustomerLoanFiles",
	"properties": {
		"activities": [
			{
				"name": "Fetch Table Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    'SELECT TABLE_SCHEMA AS Table_Schema, TABLE_NAME AS Table_Name \n    FROM ', \n    pipeline().parameters.SchemaName, \n    '.', \n    pipeline().parameters.TableName, \n    ' WHERE TABLE_SCHEMA = ''', \n    pipeline().parameters.InfoSchemaName, \n    ''' AND TABLE_NAME <> ''', \n    pipeline().parameters.NoTableName, \n    ''''\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlTableLoanDb",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"SourceSchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop Through dbo Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch Table Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Table Names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Convert Data to CSV Files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().Table_Schema}.@{item().Table_Name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlTableTarget",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DelimitedTextCSV",
									"type": "DatasetReference",
									"parameters": {
										"DirectoryName": "DailyFetch/CustomerLoan",
										"FileName": {
											"value": "@concat(item().Table_Name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "TABLES"
			},
			"SchemaName": {
				"type": "string",
				"defaultValue": "INFORMATION_SCHEMA"
			},
			"NoTableName": {
				"type": "string",
				"defaultValue": "CustomerLoanInfo"
			},
			"InfoSchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			}
		},
		"annotations": []
	}
}