XYZBanking/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "XYZBanking"
		},
		"LS_LoanDatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_LoanDatabase'"
		},
		"LS_ADLS_XYZBank_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_XYZBank'"
		},
		"LS_LoanDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "serverbanking.database.windows.net"
		},
		"LS_LoanDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LoanDatabase"
		},
		"LS_LoanDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "salunkeshweta77"
		},
		"LS_ADLS_XYZBank_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saxyzbank.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL01_LoadCustomerLoanData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV to SQLTable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@concat('Truncate Table ',pipeline().parameters.SchemaName,'.',pipeline().parameters.SourceTableName)",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DelimitedTextCSV",
								"type": "DatasetReference",
								"parameters": {
									"DirectoryName": {
										"value": "@pipeline().parameters.DirectoryName",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.FileName,'.csv')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SqlTableLoanDb",
								"type": "DatasetReference",
								"parameters": {
									"SourceTableName": {
										"value": "@pipeline().parameters.SourceTableName",
										"type": "Expression"
									},
									"SourceSchemaName": {
										"value": "@pipeline().parameters.SchemaName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Execute DataTransform SP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CSV to SQLTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CustomerLoan_TransformData]"
						},
						"linkedServiceName": {
							"referenceName": "LS_LoanDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Move File To Archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Execute DataTransform SP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DelimitedTextCSV",
								"type": "DatasetReference",
								"parameters": {
									"DirectoryName": {
										"value": "@pipeline().parameters.DirectoryName",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.FileName,'.csv')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DelimitedTextCSVArchive",
								"type": "DatasetReference",
								"parameters": {
									"ArchiveFileName": {
										"value": "@{concat(pipeline().parameters.FileName,'_',convertTimeZone(utcnow(),'UTC','W. Europe Standard Time','yyyyMMddHHmmssfff'),'.csv')}",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTableName": {
						"type": "string",
						"defaultValue": "CustomerLoanInfo"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"DirectoryName": {
						"type": "string",
						"defaultValue": "DailyLoad"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "LoanDataset"
					},
					"ArchiveFolderName": {
						"type": "string",
						"defaultValue": "Archive"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_DelimitedTextCSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_SqlTableLoanDb')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_LoanDatabase')]",
				"[concat(variables('factoryId'), '/datasets/DS_DelimitedTextCSVArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL02_UploadCustomerLoanFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fetch Table Names",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n    'SELECT TABLE_SCHEMA AS Table_Schema, TABLE_NAME AS Table_Name \n    FROM ', \n    pipeline().parameters.SchemaName, \n    '.', \n    pipeline().parameters.TableName, \n    ' WHERE TABLE_SCHEMA = ''', \n    pipeline().parameters.InfoSchemaName, \n    ''' AND TABLE_NAME <> ''', \n    pipeline().parameters.NoTableName, \n    ''''\n)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SqlTableLoanDb",
								"type": "DatasetReference",
								"parameters": {
									"SourceTableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"SourceSchemaName": {
										"value": "@pipeline().parameters.SchemaName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Through dbo Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Fetch Table Names",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Fetch Table Names').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Convert Data to CSV Files",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM @{item().Table_Schema}.@{item().Table_Name}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SqlTableLoanDb",
											"type": "DatasetReference",
											"parameters": {
												"SourceTableName": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"SourceSchemaName": {
													"value": "@item().Table_Schema",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DelimitedTextCSV",
											"type": "DatasetReference",
											"parameters": {
												"DirectoryName": {
													"value": "@pipeline().parameters.DirectoryName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(item().Table_Name,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableName": {
						"type": "string",
						"defaultValue": "TABLES"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "INFORMATION_SCHEMA"
					},
					"NoTableName": {
						"type": "string",
						"defaultValue": "CustomerLoanInfo"
					},
					"InfoSchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"DirectoryName": {
						"type": "string",
						"defaultValue": "DailyFetch/CustomerLoan"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SqlTableLoanDb')]",
				"[concat(variables('factoryId'), '/datasets/DS_DelimitedTextCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL03_ExecutePL01_PL02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute PL01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL01_LoadCustomerLoanData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute PL02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute PL01",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL02_UploadCustomerLoanFiles",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL01_LoadCustomerLoanData')]",
				"[concat(variables('factoryId'), '/pipelines/PL02_UploadCustomerLoanFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DelimitedTextCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_XYZBank",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DirectoryName": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().DirectoryName",
							"type": "Expression"
						},
						"fileSystem": "xyzfilesystem"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_age",
						"type": "String"
					},
					{
						"name": "customer_income",
						"type": "String"
					},
					{
						"name": "home_ownership",
						"type": "String"
					},
					{
						"name": "employment_duration",
						"type": "String"
					},
					{
						"name": "loan_intent",
						"type": "String"
					},
					{
						"name": "loan_grade",
						"type": "String"
					},
					{
						"name": "loan_amnt",
						"type": "String"
					},
					{
						"name": "loan_int_rate",
						"type": "String"
					},
					{
						"name": "term_years",
						"type": "String"
					},
					{
						"name": "historical_default",
						"type": "String"
					},
					{
						"name": "cred_hist_length",
						"type": "String"
					},
					{
						"name": "Current_loan_status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_XYZBank')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DelimitedTextCSVArchive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_XYZBank",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ArchiveFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().ArchiveFileName",
							"type": "Expression"
						},
						"folderPath": "DailyLoad/Archive",
						"fileSystem": "xyzfilesystem"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_XYZBank')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SqlTableLoanDb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_LoanDatabase",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceTableName": {
						"type": "string"
					},
					"SourceSchemaName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SourceSchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SourceTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_LoanDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LoanDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_LoanDatabase_properties_typeProperties_server')]",
					"database": "[parameters('LS_LoanDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_LoanDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_LoanDatabase_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPipelineLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL03_ExecutePL01_PL02",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-07-02T14:43:00",
						"endTime": "2024-07-07T21:20:42",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL03_ExecutePL01_PL02')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "North Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_XYZBank')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_XYZBank_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_XYZBank_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}